// Accordion
.accordion {
  border: none;
}

.accordion-title {
  background: transparent;
  font-size: $font16;
  font-family: $secondaryFont;
  border-bottom: 1px solid $borderGrey;
  position: relative;
  padding-left: 0;
  &:after {
    content: '\f067';
    position: absolute;
    right: 20px;
    font-family: FontAwesome;
    color: $sTextColor;
    font-size: $font16 - 2;
  }
  &:hover{
    background: transparent;
  }
}

.is-active {
  .accordion-title {
    background: transparent;
    &:after {
      content: "\f068";
      color: $sTextColor;
    }
  }
}

.action-sheet {
  bottom: -10px;
  width: 100%;
  z-index:9999;
  @include border-radius(0);
  li {
    &.active {
      font-family: $secondaryFont;
    }
    a {
      font-size: $font16 - 2;
      text-align: left;
      border: none;
    }
  }
  &.is-active {
    &:before, &:after {
      display: none;
    }
  }
}

.overlay {
  position: absolute;
  top: 38px;
  bottom: 0;
  left: 0;
  right: 0;
  background: $primaryColor;
  opacity: 0.7;
  display: none;
  z-index: 10;
}

.action-sheet.is-active + .overlay {
  display: block;
}

//Forms
label {
  font-family: $secondaryFont;
  font-size: $font16 - 2;
  color: $primaryColor;
  width: 100%;
}
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], input[type="file"], textarea, select {
    @include border-radius(4px);
    width: 100%;
    color: $sTextColor;
    font-size: $font16 - 2;
    font-weight: normal;
    font-family: $primaryFont;
    min-height: 34px;
    height: 34px;
    margin-bottom: 0;
  }
  p {
    position: relative;
    margin: 0 10px 0 0;
  }
  select{
    ,&:hover {
      background: #ffffff url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20black%22%3E%3C/polygon%3E%3C/svg%3E") right 10px center no-repeat;
      background-size: 8px 8px;
    }
  }
  textarea{
    height: 50px;
  }

&.require {
  .bold {
    &:after {
      position: absolute;
      content: '*';
      font-size: 12px;
      color: $red;
      top: -5px;
      margin: 5px 0;
    }
  }
}

//Modal
.modal-overlay{
  z-index: 999999;
}
.modal {
  width: 420px;
  @media screen and (max-width: $screen-xs-min) {
    width: 100%;
  }
  padding: 0;
  //border-top: 4px solid $primaryColor;
  height: auto !important;
  .mHead {
    padding:10px 15px;
    border-bottom: 1px solid $borderGrey;
    .statuscircle{
      margin: 0 10px 0 0;
    }
  }
  h5 {
    font-family: $secondaryFont;
  }
  .mBody {
    padding: 5px 20px;
    border-bottom: 1px solid $borderGrey;
    input[type="checkbox"] + label, input[type="radio"] + label {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      @media screen and (max-width: $screen-xs-min) {
        width: 40%;
        margin-bottom: 10px;
      }
    }
    h6{
      margin-bottom: 10px;
    }
    .listCol {
      border-bottom: 1px solid $borderGrey;
      padding: 20px 0;
      &:last-child {
        border: none;
      }
    }
    @media screen and (max-width: $screen-xs-min) {
      //height: 300px;
      overflow: auto;
    }
    .formDetails {
      &.comments {
        margin: 10px 0 20px;
        .flex{
          align-items: flex-start;
        }
        textarea {
          margin: 0 10px 0 0;
        }
        .button{
          margin: 0;
          width: 80px;
        }
      }
    }
    .emailForm {
      p{
        margin-bottom: 10px;
      }
      .formDetails{
        margin: 0;
      }
    input{
      margin: 0 10px 20px 0;
    }
      .flex {
        align-items: flex-start;
        .fa{
          margin: 10px 0 0;
        }
      }
  }
  }
  .mFoot {
    padding: 15px;
    text-align: center;
    .button {
      width: 80px;
      margin-bottom: 0;
      @include border-radius(4px);
     &.secondary{
       background: $tabTextColor;
       color:$pTextColor;
     }
      &.disabled{
        background: $tabTextColor;
      }
    }
  }
  .close-button{
    top:15px;
    img{
      width: 12px;
    }
  }
}

//Table
.tableList{
  width: 100%;
thead{
  background: $primaryColor;
  @include border-radius(4px 4px 0 0);
  tr{
    th{
     width:30%;
      text-align: left;
      padding: 10px;
      color: $pTextColor;
      white-space: nowrap;
      font-size: $font16 - 2;
      font-family: $secondaryFont;
      &:first-child{
        @include border-radius(4px 0 0 0 );
      }
      &:last-child{
        @include border-radius(0 4px 0 0 );
      }
    }

  }
}
  tbody {
    tr {
      td {
        width: 30%;
        padding: 10px;
        font-size: $font16 - 2;
        border-bottom: 1px solid $borderGrey;
        white-space: nowrap;
        @include border-radius(4px);
        &:first-child {
          @include border-radius(4px 0 0 4px);
          white-space: inherit;
        }
        &:last-child{
          @include border-radius(0 4px 4px 0 );
        }
      }
      &:last-child{
        td{
          border: none;
        }
      }
    }
  }
  &.table2{
    tr{
      td,th{
        width: 50%;
        .bold{
          font-size: $font16 + 4;
          margin-left: 5px;
        }
      }
      &.active{
        background: $borderGrey;
        td{
          border: none;
        }
      }
    }
  }
}


//Toggle Button
.switch1 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    + {
      label {
        border:none;
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
      }
    }
  }
  input.cmn-toggle-round {
    + {
      label {
        width: 40px;
        height: 16px;
        border-radius: 60px;
        &:before {
          display: block;
          position: absolute;
          top: 1px;
          left: 1px;
          bottom: 1px;
          content: "";
          right: 1px;
          background-color: #e5e5e5;
          border: none;
          border-radius: 60px;
          transition: background 0.4s;
        }
        &:after {
          display: block;
          position: absolute;
          top: 1px;
          left: 1px;
          bottom: 1px;
          content: "";
          width: 20px;
          height: 20px;
          margin: -3px 0;
          background-color: $primaryColor;
          border:none;
          border-radius: 100%;
          transition: margin 0.4s;
        }
      }
    }
    &:checked {
      + {
        label {
          border: none;
          &:before {
            border:none;
          }
          &:after {
            margin-left: 19px;
            background: $sTextColor;
           border:none
          }
        }
      }
    }
  }
}


//Checkboxes
.checkbox{
[type="checkbox"] {
  &:not(:checked) {
    position: absolute;
    left: -9999px;
    + {
      label {
        display: flex;
        align-items: flex-end;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        padding-top: 3px;
        font-family: $secondary-color;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2px;
          width: 17px;
          height: 17px;
          border: 1px solid #aaa;
          background: #f8f8f8;
         @include border-radius(4px);
        }
        &:after {
          content: '\f00c';
          position: absolute;
          top: 3px;
          left: 3px;
          font-size: 18px;
          line-height: 0.8;
          color: $pTextColor;
          transition: all .5s;
          opacity: 0;
        }
      }
    }
  }
  &:checked {
    position: absolute;
    left: -9999px;
    + {
      label {
        display: flex;
        align-items: flex-end;
        position: relative;
        padding-left: 25px;
        padding-top: 3px;
        font-family: $secondary-color;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2px;
          width: 18px;
          height: 18px;
          border: 1px solid $onlineColor;
          background: $onlineColor;
          @include border-radius(4px);
        }
        &:after {
          content: '\f00c';
          font-size: $font16 - 4;
          font-family: FontAwesome;
          position: absolute;
          top: 5px;
          left: 3px;
          color: $pTextColor;
          opacity: 1;
        }
      }
    }
  }
  &:disabled {
    &:not(:checked) {
      + {
        label {
          &:before {
            border-color: #bbb;
            background-color: #ddd;
          }
        }
      }
    }
    &:checked {
      + {
        label {
          &:before {
            border-color: #bbb;
            background-color: #ddd;
          }
          &:after {
            color: #999;
          }
        }
      }
    }
    + {
      label {
        color: #aaa;
      }
    }
  }
  }
}

//Radio Buttons
.radio{
[type="radio"] {
  +label{
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    padding-top: 3px;
    font-family: $secondary-color;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 17px;
      height: 17px;
      @include border-radius(50%);
    }
    &:after {
      position: absolute;
      top: 3px;
      left: 4px;
      font-size: 18px;
      line-height: 0.8;
      transition: all .2s;
      opacity: 0;
    }
  }
  &:not(:checked) {
    position: absolute;
    left: -9999px;
    + {
      label {
        &:before {
          border: 1px solid #aaa;
          background: #f8f8f8;
         @include border-radius(50%);
        }
        &:after {
        }
      }
    }
  }
  &:checked {
    position: absolute;
    left: -9999px;
    + {
      label {
        &:before {
          border: 5px solid $secondary-color;
          background: $pTextColor;
        }
        &:after {
        }
      }
    }
  }
  &:disabled {
    &:not(:checked) {
      + {
        label {
          &:before {
            border-color: #bbb;
            background-color: #ddd;
          }
        }
      }
    }
    &:checked {
      + {
        label {
          &:before {
            border-color: #bbb;
            background-color: #ddd;
          }
          &:after {
            color: #999;
          }
        }
      }
    }
    + {
      label {
        color: #aaa;
      }
    }
  }
  }
}





