// Background Colors
$primaryColor:#000000;
$secondaryBgColor:#222222;
$grey: #f0f0f0;
$mediumBlue:#cde0fe;
$greybg:#e7e8ea;
$yellowbg: #fcc21c;
$reportbg: #f5f5f5;
$secondary-color:#005ceb;
$grey2:#efefef;
$grey3:#dcdcdc;
$grey4:#505050;

// Text Colors
$pTextColor: #ffffff;
$sTextColor:#666666;
$bTextColor:#333333;
$gTextColor:#999999;
$onlineColor:#60bd68;
$awayColor:#ff8737;
$offlineColor:#e53838;
$pendingColor:#fcc21c;
$red:#e32533;
$tabTextColor: #a7acac;
$tabbgColor: #2c5ea3;

//Border Colors
$borderGrey:#e0e0e0;
$borderGrey2:#cccccc;
$borderGrey3:#44464a;

// Border Radius
@mixin border-radius($circle){
  -webkit-border-radius:$circle;
  -moz-border-radius:$circle;
  border-radius:$circle;
}
//Box Shadow
@mixin box-shadow($shadow){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow:$shadow;
}
//Transform
@mixin transform($transform){
  -webkit-transform:$transform ;
  -moz-transform:$transform ;
  -ms-transform:$transform ;
  -o-transform:$transform ;
  transform: $transform;
}
//Animation
@mixin animation($animation){
  -webkit-animation:$animation;
  -o-animation:$animation;
  animation:$animation;
}

// Font family
$primaryFont:'geinspira-regular';
$secondaryFont:'geinspira-bold';
$iconSmallFontSize:12px;
$font16:16px;
$font14:14px;

// Extra small screen / phone
$screen-xxxs-min:360px;
$screen-xxs-min:480px;
$screen-xs-min: 768px;
$screen-sm-min: 991px;
