@import "settings";
@import "foundation";
@import "variables";
@import "font-awesome";
@import "fonts";
@import "plugins";

body {
  font-family: $primaryFont;
  //color: $black;
  font-size: $font16 - 2;
}

p {
  font-size: $font16 - 2;
  margin: 0;
  //color: $black;
}

ul {
  list-style-type: none;
  margin: 0;
  li {
    ul {
      margin: 0;
    }
  }
}

.flex2 {
  flex: 2;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.bold {
  font-family: $secondaryFont;
}

.primaryColor {
  color: $primaryColor;
}

.errorText {
  color: $red;
  font-family: $secondaryFont;
  margin-bottom: 10px;
}

.button {
  padding: 10px;
  @include border-radius(4px);
}

.mt0 {
  margin-top: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mt10 {
  margin-top: 10px;
}
.mt30 {
  margin-top: 30px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.bdt {
  border-top: 1px solid $borderGrey;
}

.nopadding {
  padding: auto 0;
}

.fullwidth {
  width: 100%;
}

// Header
.menu-group {
  &.primary {
    background: $primaryColor;
    height: 50px;
    .menu-bar {
      background: transparent;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
    .menu-group-left {
      padding-left: 10px;
      .menu-bar {
        > li {
          @media screen and (max-width: $screen-xs-min) {
            &:first-child {
              span {
                display: none;
              }
            }
          }
          a {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            &:hover {
              background: transparent;
            }
          }
          &.status {
            a {
              padding: 6px 0px;
              span {
                padding: 0 10px;
                border-left: 1px solid $pTextColor;
                //@media screen and (max-width: $screen-xs-min) {
                //  display: none;
                //}
              }
              &:hover {
                background: transparent;
              }
            }
          }
          > a {
            padding: 6px 10px;
            flex-direction: row;
            align-items: center;
            img {
              margin: 0 10px 0 0;
              width: 30px;
              @media screen and (max-width: $screen-xxs-min){
                margin: 0;
              }
            }
          }
        }
      }
    }
    .menu-group-right {
      display: -webkit-flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      align-items: center;
      .fa {
        font-size: $font16;
      }
      .statuscircle {
        .fa {
          font-size: $font16 - 4;
        }
      }
      .searchContent {
        a {
          color: $pTextColor;
          padding: 16px 15px;
          display: -webkit-flex;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          .scontent {
            display: -webkit-flex;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            @media screen and (max-width: $screen-xs-min) {
              background: $primaryColor;
              position: absolute;
              right: 0;
              z-index: 10;
              padding: 0 10px;
              input {
                width: 215px;
              }
            }

          }
          &:focus, &:hover, &:active, &.active {
            padding: 0 15px;
            @media screen and (max-width: $screen-xs-min) {
              background: transparent;
            }
          }
          input {
            padding: 0 10px;
            margin: 0;
            min-height: 47px;
            background: transparent;
            border: transparent;
            width: 200px;
            color: $pTextColor;
          }
          @media screen and (max-width: $screen-xs-min) {
            input {
              width: 150px;
            }
          }
        }
      }
      .hNotification {
        color: $pTextColor;
        padding: 16px 15px;
        position: relative;
        &.notificationActive {
          background: $onlineColor;
          padding: 17px 14px;
          .label {
            display: none;
          }
        }
        + .action-sheet {
          height: 400px;
          left: -106px;
          .notiList {
            height: 310px;
          }
          @media screen and (max-width: $screen-xxs-min) {
            left: 0;
            right: 0;
            width: 100%;
            @include border-radius(4px 4px 0 0);
            .notiFoot {
              @include border-radius(0);
            }
          }
        }
        .label {
          padding: 4px;
          @include border-radius(50%);
          position: absolute;
          top: 14px;
          right: 14px;
        }
      }
      .statusOption {
        padding: 12px 10px;
      }
    }
    @media screen and (max-width: $screen-xs-min) {
      > .menu-group-left {
        flex: 1 1 auto;
      }
      > .menu-group-right {
        flex: 0 0 auto;
      }
    }
    .profileicon {
      + .action-sheet {
        transform: translateX(100%) translateY(100%);
        &.is-active {
          transform: translateX(-50%) translateY(100%);
        }
        @media screen and (max-width: $screen-xs-min) {
          &.is-active {
            transform: translateX(-87%) translateY(100%);
          }
        }
        @media screen and (max-width: $screen-xxs-min) {
          left: 0;
          height: auto;
          width: 100%;
          right: 0;
          @include border-radius(4px 4px 0 0);
          transform: translateY(100%);
          &.is-active {
            transform: translateY(0%);
          }
        }
      }
    }
    .action-sheet {
      padding: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 300px;

      img {
        width: 54px;
        height: 54px;
        margin-bottom: 20px;
        @include border-radius(50%);
      }
      .profile {
        background: url(../img/profile-settings-back.png) repeat center center;
        padding: 15px 10px;
        height: 140px;
        .imageEdit {
          width: 54px;
          height: 54px;
          margin: 0 auto 10px;
          position: relative;
          @include border-radius(50%);
          border: 1px solid $pTextColor;
          .edit {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: $sTextColor;
            position: absolute;
            right: -10px;
            color: $pTextColor;
            @include border-radius(50%);
            .fa {
              font-size: $font16 - 6;
              padding: 4px 0 0 2px;
            }
          }
          input {
            position: absolute;
            top: 0;
            opacity: 0;
          }
        }
      }
    }
    .profileList {
      width: 100%;
      margin: 0;
      li {
        border-bottom: 1px solid $borderGrey;
        .fa {
          margin-right: 20px;
        }

      }

    }
    .accordion-item {
      &.is-active {
        .accordion-title {
          font-family: $secondaryFont;
          &:after {
            content: '\f106';
          }
        }
      }
      .accordion-title {
        padding: 0.8rem 0.8rem 0.8rem 48px;
        font-family: $primaryFont;
        font-size: $font16 - 2;
        text-align: left;
        &:after {
          content: '\f107';
          font-family: FontAwesome;
        }
        &:before {
          content: '\f084';
          font-family: FontAwesome;
          position: absolute;
          left: 13px;
        }
      }
      .accordion-content {
        text-align: left;
        padding: 0.8rem 0.8rem 0.8rem 48px;
        font-size: $font16 - 4;
        border-bottom: 1px solid $borderGrey;
        color: $sTextColor;
      }
    }
  }
}

//Notifications
.notificationDetails {
  .notiHead {
    padding: 10px 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $borderGrey;
    color: $sTextColor;
    h6 {
      flex: 1;
      text-align: left;
    }
    .fa {
      flex: 0;
      font-size: $font16;
    }
  }
  .notiList {
    margin: 0;
    overflow-y: scroll;
    li {
      font-size: $font16 - 2;
      text-align: left;
      padding: 12px 15px;
      border-bottom: 1px solid $borderGrey;
      .notiDetails {
        @include border-radius(0 0 4px 4px);
        padding-bottom: 10px;
        .statuscircle {
          margin-right: 10px;
        }
        .bold {
          margin: 0 5px;
        }
        a {
          padding: 0 5px 0 0;
          color: #3b73b9;
          display: inline-block;
        }
      }
      p {
        color: $gTextColor;
        font-size: $font16 - 6;
      }
    }
  }
  .notiFoot {
    padding: 10px 15px;
    //background: $mediumBlue;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    @include border-radius(0 0 4px 4px);
  }
}

// Profile
.profileicon {
  cursor: pointer;
  min-width: 120px;
  padding: 9px 10px;
  color: $pTextColor;
  div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }
  border-left: 1px solid $bTextColor;
  @media screen and (max-width: $screen-xs-min) {
    min-width: 40px;
    padding: 16px;
  }

  a {
    padding: 16px 10px;
    margin: 0;
    background: transparent;
    min-width: 100px;
  }
  img {
    width: 30px;
    height: 30px;
    @include border-radius(50%);
    margin-right: 10px;

  }
  i {
    display: none;
    @media screen and (max-width: $screen-xs-min) {
      display: block;
      font-size: 20px;
    }
  }
  & + .action-sheet {
    height: 800px;

    @media screen and (max-width: $screen-xxs-min) {
      width: 100%;
    }
  }
}

//Status Style
.statuscircle {
  width: 24px;
  height: 24px;
  display: inline-block;
  padding: 6px 0;
  @include border-radius(50%);
  text-align: center;
  .fa {
    font-size: $font16 - 2;
    color: $pTextColor;
  }
  &.online {
    background: $onlineColor;
  }
  &.away {
    background: $awayColor;
  }
  &.offline {
    background: $offlineColor;
  }
  &.pending {
    background: $pendingColor;
  }
}

.online {
  color: $onlineColor;
}

.away {
  color: $awayColor;
}

.offline {
  color: $offlineColor;
}

@media screen and (max-width: $screen-sm-min) {
  .no-sm {
    display: none;
  }
}

@media screen and (max-width: $screen-xs-min) {
  .no-xs {
    display: none
  }
}

.grid-content {
  padding: 0;
  .grid-block {
    margin: 0;
  }
}

.createBlocks {
  margin: 0;
  .grid-block {
    margin: 0;
    padding: 0 15px;
  }
}

//Home Dashboard
.statusContainer {
  padding: 10px 0;
  background: $secondaryBgColor;
  color: $pTextColor;
  position: relative;
  .statuses {
    text-align: center;
    width: 100%;
    h5 {
      color: $pTextColor;
      font-family: $primaryFont;
      position: relative;
      @media screen and (max-width: $screen-xs-min) {
        &:before {
          content: '';
          position: absolute;
          padding: 0 0 10px;
          width: 120px;
          bottom: -10px;
          margin: 0 auto;
          border-bottom: 1px solid $bTextColor;
        }
      }
    }
    p {
      text-transform: uppercase;
      &.number {
        font-size: 50px;
        margin-bottom: 10px;
      }
    }
    .graph {
      width: 100px;
      height: 100px;
      margin: 0 auto 15px;
    }
  }
  .reportList {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    @media screen and (max-width: $screen-xxs-min) {
      overflow: auto;
    }
    li {
      text-align: center;
      padding: 0;
      flex: 1 0 auto;
      border-left: 1px solid $bTextColor;
      .highcharts-container {
        margin: 0 auto;
      }
      @media screen and (max-width: $screen-xs-min) {
        border: none;
        .graph {
          width: 50px;
          height: 50px;
        }
      }
      &:first-child {
        border: none;
        @media screen and (max-width: $screen-xs-min) {
          display: none;
        }
      }
    }
  }
  //Reload Button
  .reloadButton{
    position: absolute;
    right: 0;
    top:30px;
    background: $sTextColor;
    @include border-radius(20px 0 0 20px);
    .icon-holder{
      padding: 5px 0;
      text-align: center;
      width:35px;
      height:30px;
      border-right: 1px solid $secondaryBgColor;
      @media screen and (max-width: $screen-xs-min) {
        border:none;
      }
      .icon {
        width: 20px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
      }
      .refresh{
        background: url(../img/refresh.svg) no-repeat center center;
      }
    }
  }
}

.reportsAssessmentList {
  border-bottom: 1px solid $borderGrey2;
  margin: 0 10px;
}

// Cards
.circuitContainer {
  padding: 15px 5px 20px;
  background: $greybg;
  overflow: hidden;
  position: relative;
  .reportCardList {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: auto;
    overflow-x: auto;
    height: 260px;
    @media screen and (max-width: $screen-xs-min) {
      overflow: scroll;
    }
    > li {
      margin: 0 10px;
      flex: 0 0 auto;
      &.active {
        .CircuitCards {
          -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 92, 235, 0.4);
          -moz-box-shadow: 0px 3px 10px 0px rgba(0, 92, 235, 0.4);
          box-shadow: 0px 3px 10px 0px rgba(0, 92, 235, 0.4);
          border-bottom: 3px solid $secondary-color;
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
          .reportCount {
            background: $secondary-color;
          }
          .actions {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
          }
          .errorIcon{
            position: absolute;
            bottom: 21px;
            right: 75px;
            display: block;
          }
        }
      }

      .CircuitCards {
        width: 233px;
        background: $pTextColor;
        position: relative;
        padding: 15px;
        transition: all 0.3s ease;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(186, 186, 186, 0.5);
        -moz-box-shadow: 0px 5px 10px 0px rgba(186, 186, 186, 0.5);
        box-shadow: 0px 5px 10px 0px rgba(186, 186, 186, 0.5);
        .reportCount {
          position: absolute;
          right: 15px;
          top: 20px;
          width: 40px;
          height: 40px;
          background: $yellowbg;
          font-size: $font16 - 6;
          text-align: center;
          padding: 7px 0;
          color: $pTextColor;
          span {
            font-size: $font16;
            display: block;
            line-height: 14px;
          }
        }
        .circuitDetails {
          li {
            font-size: $font16 - 2;
            margin-bottom: 10px;
            line-height: 1.5;
            .reportTitle {
              font-size: $font16 - 4;
              color: $sTextColor;
              display: block;
              line-height: normal;
            }
            &:last-child {
              margin: 0;
            }
          }
        }
        .actions {
          position: absolute;
          bottom: 10px;
          right: 10px;
          display: none;
          li {
            margin: 0 0px 5px 10px;
          }
        }
        .errorIcon{display: none;}
      }
    }
  }
  &.fix-to-top {
    position: fixed;
    top: 0;
  }
  .ribbonCount {
      display: block;
      position: absolute;
      right: -10px;
      bottom: 15px;
      padding: 2px 15px;
      background: $sTextColor;
      opacity: 0.85;
      color: $pTextColor;
      @include border-radius(20px);

  }
}

.sectionHeader {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 0 10px 15px;
  h5 {
    flex: 1;
    @media screen and (max-width: $screen-xs-min) {
      font-size: $font16;
    }
  }
}

.listActions {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  li {
    line-height: normal;
    position: relative;
    border: 1px solid $borderGrey2;
    margin: 0 8px;
    @include border-radius(4px);
    //&:last-child {
    // margin-right: 0;
    //}
    .fa {
      color: $sTextColor;
      font-size: $font16 - 2;
      padding: 5px 7px;
    }
    img {
      width: 26px;
      padding: 5px;
      height: 24px;
    }
    .upload {
      position: absolute;
      top: -10px;
      left: 0px;
      opacity: 0;
    }
  }
}

// Details
.reportDetails {
  padding: 20px 5px;
  .reportContent {
    flex: 1;
    .rDetails {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      padding: 10px 0;
      li {
        border: none;
      }
    }
  }
  .reportCard {
    border: 1px solid $borderGrey2;
    border-bottom: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    &.pending {
      border-left: 3px solid $awayColor;
    }
    &.submitted {
      border-left: 3px solid $onlineColor;
    }
    &.drafts {
      border-left: 3px solid #735cd5;
    }

  }
  .reportHeader {
    padding: 5px 10px;
    border-bottom: 1px solid $borderGrey2;
    background: $reportbg;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    .editActions {
      padding: 10px;
      margin-left: 5px;
      display: none;
      position: relative;
      @media screen and (max-width: $screen-xs-min) {
        display: block;
      }
      .rActions {
        position: absolute;
        right: 0;
        width: 150px;
        bottom: -90px;
        background: $pTextColor;
        padding: 10px;
        border-radius: 0 0 4px 4px;
        border: 1px solid $borderGrey2;
        z-index: 4;
        li {
          a{
          color: $bTextColor;
          .fa {
            color: $bTextColor;
            margin-right: 5px;
          }
          }
        }
      }
    }
    .badge {
      position: relative;
      font-size: $font16 - 6;
      background: $bTextColor;
      width: 22px;
      height: 18px;
      @include border-radius(50%);
      &:after {
        position: absolute;
        content: '';
        bottom: -3px;
        left: 3px;
        border-left: 10px solid $bTextColor;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }
  }
  .reportActions {
    border-left: 1px solid $borderGrey2;
    padding: 10px;

  }
}

// Progress Bars
.statusDetails {
  flex: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: 0 20px;
  padding: 0 20px;
  border-left: 1px solid $borderGrey2;
  @media screen and (max-width: $screen-xs-min) {
    margin: 0;
    padding: 0;
    border: none;
  }
  @media screen and (max-width: $screen-xxs-min) {
    p {
      font-size: $font16 - 4;
    }
  }

}
//Progress Bar
.progress, progress {
  height: 4px;
  width: 80px;
  border-radius: 10px;
  border: 1px solid $borderGrey2;
  margin: 0 10px;
  background: $pTextColor;
  @media screen and (max-width: $screen-xs-min) {
    width: 100px;
    margin: 0 10px 0 8px;
  }
  .progress-fill {
    width: 70%;
    height: 3px;
    background: $yellowbg;
    border-radius: 10px 0 0 10px;
  }
}


.rDetails {
  flex: 1;
  @media screen and (max-width: $screen-xxs-min) {
    flex-direction: column;
  }
  li {
    font-size: $font16 - 2;
    padding: 0 10px;
    flex: auto;
    border-right: 1px solid $borderGrey2;
    line-height: normal;
    &:last-child {
      border: none;
    }
    @media screen and (max-width: $screen-xxs-min) {
      line-height: 1.6;
    }
  }
}

.actions {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  li {
    margin: 10px;
    span {
      width: 30px;
      height: 30px;
      @include border-radius(50%);
      display: inline-block;
      border: 1px solid $borderGrey2;
      text-align: center;
      padding: 6px 0;
      .fa {
        font-size: $font16 - 2;
        color: $sTextColor;
      }
    }
  }
}

.formDetails {
  position: relative;
  margin: 10px;
  width: 100%;
  &.attach {
    input {
      opacity: 0;
    }
  }
  ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    li {
      margin: 0 10px;
    }
    &.switchButtons, &.listActions {
      li {
        margin: 0 -1px 0 0;
      }
    }
  }
  img {
    width: 50px;
    margin: 10px auto;
  }
  label {
    width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
  }
}

.calender {
  &:after {
    position: absolute;
    content: '\f073';
    right: 10px;
    bottom: 10px;
    font-family: FontAwesome;
  }
}
.mbody{
&.cbrBody{
  padding: 0 15px 15px;
  .bold{
    line-height: 2.8;
  }
  .formDetails{
    margin:10px 10px 0 10px;
  }
}
}


//BreakerCard
.breakerCard {
  width: 100%;
  text-align: center;
  background: $pTextColor;
  border: 1px solid $borderGrey2;
  padding: 10px;
  margin: 10px;
  @media screen and (max-width: $screen-xxs-min) {
    margin:0 10px;
  }
  img {
    width: auto;
    height: 80px;
  }
  &.active {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 92, 235, 0.4);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 92, 235, 0.4);
    box-shadow: 0px 3px 10px 0px rgba(0, 92, 235, 0.4);
    border-bottom: 3px solid $secondary-color;
  }

}

//Circuit DT
.dtContainer {
  background: $pTextColor;
  height: calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: calc(100vh - 50px);
  height: -moz-calc(100vh - 50px);
  height: -webkit-calc(100vh - 50px);
  overflow: hidden;
  @media screen and (max-width: $screen-xs-min) {
    overflow: auto;
  }
  @media screen and (max-width: $screen-xxs-min) {
    height: calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: -webkit-calc(100vh - 50px);
    overflow-y: auto;
  }
  .detailsHeader {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 10px;
    align-items: center;
    background: $greybg;
    border-bottom: 1px solid $borderGrey;
    .rDetails {
      li {
        display: inline-block;
        vertical-align: text-top;
        @media screen and (max-width: $screen-xxs-min) {
          &.no-xs {
            display: none;
          }
        }
      }
      @media screen and (max-width: $screen-xxs-min) {
        flex: 10 0 auto;
      }
    }
    @media screen and (max-width: $screen-xxs-min) {
      flex-flow: wrap;
      padding: 7px 0;
    }
    > a {
      height: 20px;
      padding: 0 15px 0;
      color: $sTextColor;
      margin: 0 10px 0 0;
      -webkit-flex: 0; /* Safari 6.1+ */
      -ms-flex: 0; /* IE 10 */
      flex: 0 0 auto;
      border-right: 1px solid $borderGrey2;
      span {
        display: inline-block;
        .fa {
          font-size: $font16 + 4;
        }
      }
    }
    h5 {
      margin: 0 10px 0 0;
      flex: 1 0 auto;
      @media screen and (max-width: $screen-xxs-min) {
        flex: auto;
        font-size: $font16 - 2;
        margin: 0;
      }

    }
    .actions {
      li {
        margin: 0 5px;
        .button {
          margin: 0;
          width: 80px;
          padding: 10px;
          color: $pTextColor;
          @include border-radius(4px);
          &.secondary {
            background: #a7acac;
          }
        }
      }
      @media screen and (max-width: $screen-xxs-min) {
        flex: 1;
        justify-content: flex-end;
        margin: 5px 0;
      }
    }
    p {
      font-size: $font16+2;
      color: $primaryColor;
    }
    @media screen and (max-width: $screen-xxs-min) {
      .actionsParent {
        @include box-shadow(0px -2px 5px 0px rgba(204, 204, 204, 0.4));
        opacity: 0.95;
        padding: 10px;
        background: $pTextColor;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9990;
        .actions {
          justify-content: center;
        }
      }
    }
  }
  .dtCircuitDetails {
    padding: 7px 20px;
    background: $grey3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    @media screen and (max-width: $screen-xs-min){
      display: none;
    }
    .breakerCard {
      margin: 0 30px 0 0;
      width: 80px;
      height: 80px;
      border: none;
      img {
        min-width: 60px;
        height: 60px;
      }
      @media screen and (max-width: $screen-xxs-min) {
        margin: 0;
      }
    }
    .detailList {
      padding: 0 20px;
      flex: 1;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: flex-start;
      @media screen and (max-width: $screen-xxs-min) {
        flex-direction: column;
        padding: 0 0 0 20px;
      }
      li {
        flex: 1;
        .formDetails {
          margin: 0;
        }
      }
    }
  }
  .dtMoreInfo {
    padding: 15px 20px;
    background: $pTextColor;
    height: calc(100% - 158px);
    height: -moz-calc(100% - 158px);
    height: -webkit-calc(100% - 158px);
    height: calc(100vh - 158px);
    height: -moz-calc(100vh - 158px);
    height: -webkit-calc(100vh - 158px);
    overflow: auto;
    @media screen and (max-width: $screen-xs-min) {
      height: auto;
      padding-bottom: 100px;
      &.fxinfo {
        .feildSection {
          padding: 15px 0 20px;
        }
      }
    }
    .cbhead {
      padding-bottom: 10px;
      border-bottom: 1px solid $borderGrey2;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      h6 {
        font-family: $secondaryFont;
        flex: 1;
      }
      .button {
        margin: 0;
        padding: 5px 10px;
      }
    }
    form {
      .flex {
        @media screen and (max-width: $screen-xs-min) {
          .formDetails {
            width: 88%;
          }
        }
        width: 100%;
        .statuscircle {
          margin: 20px 0 0;
          @media screen and (max-width: $screen-xxs-min) {
            position: absolute;
            right:0px;
            bottom: 15px;
            margin: 0;
          }

        }
      }
      .formDetails {
        margin: 0 10px 10px;
        width: 70%;
        @media screen and (max-width: $screen-xxs-min) {
          margin: 0 0 10px 0;
          width: 100%;
        }
        p {
          line-height: normal;
          &.bold {
            line-height: 2;
          }
        }
        input {
          margin: 0 10px 0 0;
        }
        .calender:after {
          right: 40px;
        }
      }
    }
    .accordion-item {
      .accordion-title {
        position: relative;
        @media screen and (max-width: $screen-xs-min) {
          font-size: $font16 - 2;
        }
        &:before {
          position: absolute;
          content: '';
        }
      }
    }
    .threeBlock {
      .formDetails {
        width: 100%;
      }
    }
 /*   .downloadCbr{
      .formDetails{
        @media screen and (max-width: $screen-xs-min) {
          width: 100%;
        }
      }
    }*/
  }
}


// NEW REPORTS
.reportTabs {
  .tabs {
    flex-flow: nowrap;
    li {
      flex: 1;
    }
    .tab-item {
      flex: auto;
      text-align: center;
      background: $secondaryBgColor;
      color: $tabTextColor;
      border-right: 1px solid $borderGrey3;
      &:last-child {
        border: none;
      }
      &.is-active {
        background: $primaryColor;
        color: $pTextColor;
      }
    }
  }
  .reportsHeader {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid $borderGrey2;
    position: relative;
    h6{
      padding-left: 18px;
    }
    @media screen and (max-width: $screen-xxs-min) {
      flex-direction: column;
      align-items: flex-start;
    }
    .flex{
      flex: 1;
      justify-content: center;
      @media screen and (max-width: $screen-xxs-min) {
        padding: 20px 0 15px;
        width: 100%;
        margin: 15px 0 0;
        border-top: 1px solid #ccc;
      }
    .radio {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      label{
        width: 110px;
        @media screen and (max-width: $screen-xxs-min) {
          width: 94px;
          margin: 0 auto;
        }
      }

    }
    }
    .listActions {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .attachments {
    padding: 10px;
    @media screen and (max-width: $screen-xxs-min) {
      padding: 10px 0;
    }
    ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 10px 0;
      li {
        width: 100px;
        margin: 0 10px;
      }
    }
  }
  .viewMode {
    background: $pTextColor;
    .feildSection {
      border: none;
      margin: 0 13%;
    }
    .comments {
      margin: 0 10px;
      padding: 10px 15px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      background: $reportbg;
      @include border-radius(4px);
      .bold {
        flex: 1;
      }
      a {
        font-size: $font16 - 4;
      }
      @media screen and (max-width: $screen-xxs-min) {
        margin: 0;
      }
    }
    .commentLists {
      margin: 0 15px;
      padding: 10px 15px;
      background: $reportbg;
      @include border-radius(0 0 4px 4px);
      @media screen and (max-width: $screen-xxs-min) {
        margin: 0;
      }
      li {
        margin-bottom: 10px;
      }
    }
  }
  .tab-contents {
    background: $pTextColor;
    height: calc(100% - 158px);
    height: -moz-calc(100% - 158px);
    height: -webkit-calc(100% - 158px);
    height: calc(100vh - 158px);
    height: -moz-calc(100vh - 158px);
    height: -webkit-calc(100vh - 158px);
    overflow: auto;
    @media screen and (max-width: $screen-xxs-min) {
      height: auto;
      padding: 0 20px 100px;
    }
    padding: 10px 20px;
    .blockCenter {
      .grid-block {
        .bold{
          line-height: 2.8;
        }
        .flex {
          width: 100%;
          align-items: center;
          @media screen and (max-width: $screen-xs-min) {
            .formDetails {
              width: 88%;
            }
          }
          .statuscircle {
            margin: 20px 0 0;
            @media screen and (max-width: $screen-xxs-min) {
              position: absolute;
              right:0px;
              bottom: 6px;
              margin: 0;
            }
          }
        }
        .formDetails {
          margin: 0 10px 10px;
          width: 70%;
          @media screen and (max-width: $screen-xxs-min) {
            margin: 0;
            width: 100%;
          }
          input, select {
            margin: 0 10px 0 0;
            flex: auto;
          }
          .bold {
            line-height: 2.8;
            &.lheight{
              @media screen and (max-width: $screen-xxs-min) {
              line-height: normal;
              padding: 10px 0;
            }
            }
          }
          &.fullwidth {
            width: 100%;
          }
          p {
            padding-right: 10px;
          }
          .flex{
            input{
              width: 50%;
            }
          }
        }
      }
    }

    .contactContent {
      .grid-block {
        line-height: normal;
        align-items: center;
        > p {
          width: 100%;
          text-align: right;
          line-height: 2;
          &.bold{
            line-height: 2.5;
            margin-bottom: 10px;
          }
          @media screen and (max-width: $screen-xxs-min) {
            text-align: left;
          }
        }
        .formDetails {
          position: relative;
          margin: 0 10px 10px;
          @media screen and (max-width: $screen-xxs-min) {
            margin: 0 0 10px ;
          }
          input {
            margin: 0;
            width: 100%;
          }
          .statuscircle {
            margin-left: 10px;
          }
        }
      }
    }
    &.modeView{
      .blockCenter {
        .grid-block {
          .formDetails{
            p{
              width:100%;
            }
          }
          .statuscircle{
            margin: 0;
          }
        }
    }
    }
  }
}

.feildSection {
  padding: 20px 0;
  border-bottom: 1px solid $borderGrey2;
  > p {
    padding-left: 10px;
    //line-height: 2.5;
    span {
      font-size: $font16 - 4;
    }
    @media screen and (max-width: $screen-xxs-min) {
      padding: 0;
    }
  }
  &:last-child {
    border: none;
  }
  @media screen and (max-width: $screen-xxs-min) {
    padding: 10px 0 20px;
  }
}

.ReportAssessTabs {
  li {
    flex: 1;
    border-right: 1px solid $borderGrey3;
    &:last-child {
      border: none;
      @media screen and (max-width: $screen-xs-min) {
        flex: 2 0 auto;
      }
    }
    a {
      background: $secondaryBgColor;
      color: $tabTextColor;
      text-align: center;
      display: block;
      padding: 8px;
      &.active {
        background: $tabbgColor;
        color: $pTextColor;
      }
      .statusDetails {
        justify-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }
  @media screen and (max-width: $screen-xxs-min) {
    width: 100%;
    overflow: auto;
  }
}

.switchButtons {
  position: relative;
  width: 100%;
  li {
    line-height: normal;
    position: relative;
    width: 50%;
    height: 34px;
    display: inline-block;
    @media screen and (max-width: $screen-xxs-min) {
      /*  min-width: 80px;
        width: auto;*/
      label {
        font-size: $font16 - 2;
      }
    }
    &:first-child {
      label {
        @include border-radius(4px 0 0 4px);
      }

    }
    &:last-child {
      label {
        @include border-radius(0 4px 4px 0);
      }
    }
    input {
      flex: 1;
      opacity: 0;
      &:checked {
        & + label {
          background: $secondary-color;
          border-color: $secondary-color;
          color: $pTextColor;
        }
      }
    }
    label {
      position: absolute;
      width: 100%;
      height: 34px;
      padding: 6px;
      margin: 0;
      left: 0;
      text-align: center;
      border: 1px solid $borderGrey2;
      line-height: 1.5;
      font-family: $primaryFont;
    }
  }
}
//Delete Popup
.alertsDetails {
  padding: 30px 20px 25px;
  text-align: center;
  .statuscircle {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    .fa {
      font-size: $font16 + 2;
    }
  }
}
//Splash Screen
.splashScreen{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 100%;
  pointer-events:none;
  background: #4cc8ee; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4cc8ee, #4267b0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4cc8ee, #4267b0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4cc8ee, #4267b0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4cc8ee, #4267b0); /* Standard syntax (must be last) */
  .screencontent{
    text-align: center;
    h5 {
      font-size: 38px;
      color: $pTextColor;
      @media screen and (max-width: $screen-xxs-min) {
        font-size: 18px;
      }
    }
    img{
      width:86px;
      margin: 0 0 10px;
      @media screen and (max-width: $screen-xxs-min) {
        width: 42px;
      }
    }
  }
}
//Authentication
.authenticationScreen{
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background: url(../img/authentication.jpg) no-repeat 0 0;
}


//Search Download
.downloadContent{
  padding: 20px;
  overflow: auto;
  .tableList{
    border: 1px solid $borderGrey;
    tr{
      th,td{
        position: relative;
        .checkbox{
          margin-top:-10px;
        }
      }
    }
  }
}
.downloadStatus{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  background: #000;
  opacity: 0.8;
  color: $pTextColor;
  text-align: center;
  z-index:9990;
  .statusContent{
    position: absolute;
    top:45%;
    left:45%;
    @media screen and (max-width: $screen-xxs-min) {
      left: 30%;
    }
    @media screen and (max-width: $screen-xxxs-min) {
      left: 25%;
    }
    p{
      margin-bottom: 10px;
    }
    .progress{
      width: 160px;
      background: $grey4;
      border:1px solid $grey4;
      .progress-fill{
        width: 30%;
        background: $pTextColor;
        height: 4px;
        margin-top: -1px;
      }
    }
  }
}


//Error Icon
.errorIcon{
  margin:0 10px;
  position: relative;
  z-index: 2;
  width:24px;
  height: 20px;
  padding: 4px 0 0;
  text-align: center;
  display: block;
  font-size: $font16 - 4;
  color: $pTextColor;
  font-family: $secondaryFont;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 18px solid $red;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    z-index: -1;
  }
}
