---
name: circuitdtcreate
url: /circuitdtcreate
controller: circuitCtrl
---

<div class="dtContainer">
  <div class="detailsHeader">
    <a href="" ui-sref="home">
        <span>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
    </a>
    <h5 class="primaryColor">Dead Tank – HGF - HGF1012 40kA </h5>
    <div class="actionsParent">
      <ul class="actions">
        <li><a class="secondary button" href="" ui-sref="home">Cancel</a></li>
        <li zf-open="success"><a class="success button">Submit</a></li>
      </ul>
      </div>
  </div>
  <div class="dtCircuitDetails">
    <div class="breakerCard"><img src="assets/img/breakerdt.png"></div>
    <ul class="detailList">
      <li>
        <div class="formDetails">
          <p class="bold">Circuit Breaker Type</p>
          <p>Dead Tank</p>
        </div>
      </li>
      <li>
        <div class="formDetails">
          <p class="bold">Circuit Breaker Group Type</p>
          <p>HGF</p>
        </div>
      </li>
      <li>
        <div class="formDetails">
          <p class="bold">Breaker Model</p>
          <p>HGF 1012 40KA </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="dtMoreInfo">

    <div class="cbhead">
      <h6>CBR Information</h6>
    </div>

          <form>
            <!-- Fields for NC Details -->
            <div class="grid-container feildSection">
            <div class="grid-block">
              <div class="small-12 medium-6 grid-block">
                <div class="formDetails require">
                  <p class="bold">Control / Hydraulic Mechanism</p>
                  <select>
                    <option value="4e">CRR5-4E</option>
                    <option value="4e">CRR5-4E</option>
                    <option value="4e">CRR5-4E</option>
                    <option value="4e">CRR5-4E</option>
                  </select>
                </div>
              </div>
              <div class="small-12 medium-6 grid-block">
                <div class="formDetails">
                  <p class="bold">Nominal Pressure</p>
                  <div class="flex">
                    <input type="text" placeholder="" value="">
                    <ul class="switchButtons">
                      <li><input type="radio" name="pressure" value="1" id="psig" checked><label for="psig">PSIG</label></li>
                      <li><input type="radio" name="pressure" value="3" id="bar"><label for="bar">Bar</label></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="small-12 medium-6 grid-block">
                <div class="formDetails require">
                  <p class="bold">Bushing Type</p>
                  <select name="BushingType" id="BushingType" ng-model="Bushing">
                    <option value="1">Porcelain Insulator, 1530mm Hi loremum</option>
                    <option value="2">Porcelain Insulator, 1530mm Hi loremum </option>
                  </select>
                </div>
              </div>
              <div class="small-12 medium-6 grid-block">
                <div class="formDetails">
                  <p class="bold">No of Phases</p>
                  <ul class="switchButtons">
                      <li><input type="radio" name="phases" value="1" id="phase3" checked><label for="phase3">3</label></li>
                      <li><input type="radio" name="phases" value="3" id="phase1"><label for="phase1">1</label></li>
                  </ul>
                </div>
              </div>
            </div>
            <p class="bold">Rename Phases</p>
            <div class="grid-block threeBlock">
              <div class="small-12 medium-3 grid-block">
                <div class="formDetails">
                  <input type="text" placeholder="" value="">
                </div>
              </div>
              <div class="small-12 medium-3 grid-block">
                 <div class="formDetails">
                  <input type="text" placeholder="" value="">
                </div>
              </div>
              <div class="small-12 medium-3 grid-block">
                 <div class="formDetails">
                  <input type="text" placeholder="" value="">
                </div>
              </div>
              <div class="small-12 medium-3 grid-block">
                 <div class="formDetails">

                </div>
              </div>
            </div>
            </div>
          </form>
    <div class="cbhead">
      <h6>General Characteristics</h6>
      </div>
          <form>
            <div class="feildSection grid-container">
            <div class="grid-block">
              <div class="small-12 medium-6 grid-block">
                <div class="formDetails require">
                  <p class="bold">Customer Name</p>
                  <input type="text" placeholder="" value="">
                </div>
              </div>
              <div class="small-12 medium-6 grid-block">
                <div class="formDetails">
                  <p class="bold">Serial Number</p>
                  <input type="text" placeholder="" value="">
                </div>
              </div>
              <div class="small-12 medium-6 grid-block">
                <div class="flex">
                <div class="formDetails calender">
                  <p class="bold">Manufacturing Year</p>
                    <input type="date" placeholder="" value="">
                </div>
                    <span class="statuscircle offline" zf-open=""><i class="fa fa-exclamation"></i> </span>

                </div>
              </div>
              <div class="small-12 medium-6 grid-block">
                <div class="flex ">
                <div class="formDetails calender">
                  <p class="bold">Last Overall mechanical and electrical tests Year</p>
                    <input type="date" placeholder="" value="">
                </div>
                    <span class="statuscircle pending" zf-open=""><i class="fa fa-exclamation"></i> </span>
                </div>
              </div>
              <div class="small-12 medium-6 grid-block">
                <div class="formDetails">
                  <p class="bold">Criticality on Network</p>
                  <ul class="switchButtons">
                    <li><input type="radio" name="critical" value="1" id="low"><label for="low">Low</label></li>
                    <li><input type="radio" name="critical" value="3" id="medium"><label for="medium">Medium</label></li>
                    <li><input type="radio" name="critical" value="2" id="High" checked><label for="high">High</label></li>
                  </ul>
                </div>
              </div>
              <div class="small-12 medium-6 grid-block">
                <div class="formDetails require">
                  <p class="bold">Country </p>
                  <select>
                    <option></option>
                    <option>India</option>
                    <option>US</option>
                    <option>UK</option>
                  </select>
                </div>
              </div>
            </div>
            </div>
          </form>
    <div class="cbhead">
    <h6>GPS Location</h6>
      <a class="success button"  href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
      </div>
    <form>
      <div class="grid-container feildSection">
      <div class="grid-block">
        <div class="small-12 medium-6 grid-block">
          <div class="formDetails">
            <p class="bold">Longitude</p>
            <input type="text" placeholder="" value="">
          </div>
        </div>
        <div class="small-12 medium-6 grid-block">
          <div class="formDetails">
            <p class="bold">Latitude</p>
            <input type="text" placeholder="" value="">
          </div>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>

<!-- success message Modal -->
<div zf-modal="" id="success">
  <div class="mBody">
    <a zf-close="" class="close-button" ui-sref="home"><img src="../assets/img/close.png" ></a>
    <div class="alertsDetails">
      <span class="statuscircle online"><i class="fa fa-check" aria-hidden="true"></i></span>
      <p><span class="bold">Submitted</span> successfully</p>
    </div>
  </div>
</div>



