---
name: circuitfxcreate
url: /circuitfxcreate
controller: fxCtrl
---

<div class="dtContainer">
  <div class="detailsHeader">
    <a href="" ui-sref="home">
        <span>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
    </a>
    <h5 class="primaryColor">LT – FX Circuit Breaker– HGF - FX12 (3xOp4.5)</h5>
    <div class="actionsParent">
      <ul class="actions">
        <li><a class="secondary button" href="" ui-sref="home">Cancel</a></li>
        <li zf-open="success"><a class="success button">Submit</a></li>
      </ul>
    </div>
  </div>
  <div class="dtCircuitDetails">
    <div class="breakerCard"><img src="assets/img/breakerfx.png"></div>
    <ul class="detailList">
      <li>
        <div class="formDetails">
          <p class="bold">Circuit Breaker Type</p>
          <p>LT - FX circuit Breaker</p>
        </div>
      </li>
      <li>
        <div class="formDetails">
          <p class="bold">Circuit Breaker Group Type</p>
          <p>FX12(3xOp4.5</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="dtMoreInfo fxinfo">
    <div class="cbhead">
    <h6>CBR Information</h6>
      </div>
        <form>
          <!-- Fields for NC Details -->
          <div class="grid-container feildSection">
          <div class="grid-block">
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails require">
                <p class="bold">Control / Hydraulic Mechanism</p>
                <select>
                  <option value="cin">CIN</option>
                  <option value="cin">CIN</option>
                  <option value="cin">CIN</option>
                </select>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold">Nominal Pressure</p>
                <div class="flex">
                  <input type="text" placeholder="" value="">
                  <ul class="switchButtons">
                    <li><input type="radio" name="pressure" value="1" id="psig" checked><label for="psig">PSIG</label></li>
                    <li><input type="radio" name="pressure" value="3" id="bar"><label for="bar">Bar</label></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold">No of Phases</p>
                <ul class="switchButtons">
                  <li><input type="radio" name="phases" value="1" id="phase3" checked><label for="phase3">3</label></li>
                  <li><input type="radio" name="phases" value="3" id="phase1"><label for="phase1">1</label></li>
                </ul>
              </div>
            </div>
          </div>
          <p class="bold">Rename Phases</p>
          <div class="grid-block">
            <div class="small-12 medium-4 grid-block">
              <div class="formDetails">
                <input type="text" placeholder="" value="">
              </div>
            </div>
            <div class="small-12 medium-4 grid-block">
              <div class="formDetails">
                <input type="text" placeholder="" value="">
              </div>
            </div>
            <div class="small-12 medium-4 grid-block">
              <div class="formDetails">
                <input type="text" placeholder="" value="">
              </div>
            </div>
          </div>
            </div>
        </form>
    <div class="cbhead">
     <h6>General Characteristics</h6>
      </div>
        <form>
          <div class="grid-container feildSection">
          <div class="grid-block">
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails require">
                <p class="bold">Customer Name</p>
                <input type="text" placeholder="" value="">
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold">Landmark</p>
                <input type="text" placeholder="" value="">
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold">Serial Number</p>
                <input type="text" placeholder="" value="">
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="flex">
                <div class="formDetails calender">
                  <p class="bold">Manufacturing Year</p>
                  <input type="date" placeholder="" value="">
                </div>
                <span class="statuscircle offline" zf-open=""><i class="fa fa-exclamation"></i> </span>

              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="flex ">
                <div class="formDetails calender">
                  <p class="bold">Last Overall mechanical and electrical tests Year</p>
                  <input type="date" placeholder="" value="">
                </div>
                <span class="statuscircle pending" zf-open=""><i class="fa fa-exclamation"></i> </span>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails require">
                <p class="bold">Country </p>
                <select>
                  <option></option>
                  <option>India</option>
                  <option>US</option>
                  <option>UK</option>
                </select>
              </div>
            </div>
          </div>
            </div>
        </form>
    <div class="cbhead">
    <h6>GPS Location</h6>
      <a class="success button"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
      </div>
    <form>
      <div class="grid-container feildSection">
      <div class="grid-block">
        <div class="small-12 medium-6 grid-block">
          <div class="formDetails">
            <p class="bold">Longitude</p>
            <input type="text" placeholder="" value="">
          </div>
        </div>
        <div class="small-12 medium-6 grid-block">
          <div class="formDetails">
            <p class="bold">Latitude</p>
            <input type="text" placeholder="" value="">
          </div>
        </div>
      </div>
        </div>
    </form>
    </div>
</div>

<!-- success message Modal -->
<div zf-modal="" id="success">
  <div class="mBody">
    <a zf-close="" class="close-button" ui-sref="home"><img src="../assets/img/close.png" ></a>
    <div class="alertsDetails">
      <span class="statuscircle online"><i class="fa fa-check" aria-hidden="true"></i></span>
      <p><span class="bold">Submitted</span> successfully</p>
    </div>
  </div>
</div>




