---
name: newReport
url: /newReport
controller: reportCtrl
---

<div class="dtContainer">
  <div class="detailsHeader">
    <a href="" ui-sref="home">
        <span>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
    </a>
    <ul class="rDetails">
      <li class="no-xs">Country: <span class="bold">United States</span> </li>
      <li class="no-xs">Supervisor/ Sales: <span class="bold">Kinda Mouhandess</span> </li>
      <li>Unit: <span class="bold">XYZ12345</span> </li>
      <li>Date: <span class="bold">12/11/2016</span> </li>
    </ul>
    <div class="actionsParent">
      <ul class="actions">
        <li><a class="secondary button" href="" ng-click="cancelThis()">Cancel</a></li>
        <li ng-hide="isSet(4)"><a class="success button" ng-click="submitThis()" >Save</a></li>
        <li ng-if="isSet(4)"><a class="success button" ng-click="submitThis()" >Submit</a></li>
      </ul>
    </div>
  </div>
  <div class="reportTabs">
    <ul class="tabs ReportAssessTabs">
      <li>
        <a href="" ng-click="setTab(1)" ng-class="{ active: isSet(1) }">
          <p>Operation &amp; SF6</p>
          <div class="statusDetails">
            <div class="progress">
              <div class="progress-fill"></div>
            </div>
            <p>70%</p>
          </div>
        </a>
      </li>
      <li>
        <a href=""  ng-click="setTab(2)" ng-class="{ active: isSet(2) }">
          <p>Contact Resistance</p>
          <div class="statusDetails">
            <div class="progress">
              <div class="progress-fill" ></div>
            </div>
            <p>70%</p>
          </div>
        </a>
      </li>
      <li>
        <a href=""  ng-click="setTab(3)" ng-class="{ active: isSet(3) }">
          <p>Operating Time</p>
          <div class="statusDetails">
            <div class="progress">
              <div class="progress-fill"></div>
            </div>
            <p>70%</p>
          </div>
        </a>
      </li>
      <li>
        <a href=""  ng-click="setTab(4)" ng-class="{ active: isSet(4) }">
          <p>Maintenance Recommendation</p>
          <div class="statusDetails">
            <div class="progress">
              <div class="progress-fill"></div>
            </div>
            <p>70%</p>
          </div>
        </a>
      </li>
    </ul>
    <div class="reportsHeader">
      <h6>CBR Inspection</h6>
      <div class="flex">
        <div class="radio" ng-repeat="phase in phases">
          <input type="radio" name="phase" value="{{phase}}" id="{{phase.id}}"><label for="{{phase.id}}">{{phase.name}}</label>
        </div>
      </div>
      <ul class="listActions">
        <li><i class="fa fa-picture-o"></i> <input type="file" class="upload"></li>
        <li><img src="../assets/img/addComment.svg"></li>
      </ul>
    </div>
  <div class="tab-contents">
    <div class="grid-container">
    <div ng-show="isSet(1)">
      <form>
        <!-- Fields for NC Details -->
        <div class="grid-block blockCenter">
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Number Of Breaker Operations (Nb) </p>
                <input type="number" placeholder="" value="">
            </div>
                <span class="statuscircle pending" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Dashpot Oil Level </p>
                <select>
                  <option value=""></option>
                  <option value="1">Level 1</option>
                  <option value="2">Level 2</option>
                  <option value="3">Level 3</option>
                  <option value="4">Level 4</option>
                </select>
            </div>
                <span class="statuscircle offline" zf-open="dangeralert"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Number of Pump Operation </p>
                <input type="number" placeholder="" value="">
            </div>
                <span class="statuscircle pending" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Pump Run Time </p>
                <input type="number" placeholder="" value="">
            </div>
                <span class="statuscircle pending" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Pump Start Up Number At T=0hr(Psu0</p>
              <input type="number" placeholder="" value="">
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Pump Start Up Number At T = </p>
              <div class="flex">
                <input type="number" placeholder="" value="">
                <ul class="flex switchButtons">
                  <li><input type="radio" name="pump" value="1" id="3hr" checked><label for="3hr">3hr(Psu1)</label></li>
                  <li><input type="radio" name="pump" value="3" id="24hr"><label for="24hr">24hr(Psu1)</label></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Delta Psu (Psu0-Psu1) </p>
                <input type="number" placeholder="" value="">
            </div>
                <span class="statuscircle pending" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Sf6 Pressure As Measured </p>
              <div class="flex">
                <input type="number" placeholder="" value="">
                <ul class="flex switchButtons">
                  <li><input type="radio" name="pressure" value="1" id="psig" checked><label for="psig">PSIG</label></li>
                  <li><input type="radio" name="pressure" value="3" id="bar"><label for="bar">Bar</label></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">External Temperature  </p>
              <input type="number" placeholder="" value="">
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Nominal SF6 Pressure  </p>
              <input type="number" placeholder="" value="">
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Acidity Test   </p>
                  <ul class="flex switchButtons">
                    <li><input type="radio" name="acidity" value="1" id="fail" checked><label for="fail">Fail</label></li>
                    <li><input type="radio" name="acidity" value="3" id="notchecked"><label for="notchecked">Not Checked</label></li>
                  </ul>
            </div>
              <span class="statuscircle offline" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Moisture SF6 Gas Measure   </p>
                <input type="number" placeholder="" value="">
            </div>
                <span class="statuscircle pending" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold lheight">Nbr of SF6 Re-Fill (Done Over The Last 1 Year)  </p>
                <input type="number" placeholder="" value="">
            </div>
                <span class="statuscircle offline" zf-open=""><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block"></div>
        </div>
      </form>
    </div>
    <div ng-show="isSet(2)">
        <p class="bold mt10">Measure Contact Resistance</p>
        <div class="grid-block blockCenter contactContent">
          <div class="small-12 medium-4 grid-block">
            <div class="formDetails">
              <p class="bold">Phase 1 </p>
              <input type="number" placeholder="" value="">
            </div>
          </div>
          <div class="small-12 medium-4 grid-block">
            <div class="formDetails">
              <p class="bold">Phase 2 </p>
              <input type="number" placeholder="" value="">
            </div>
          </div>
          <div class="small-12 medium-4 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Phase 3 </p>
              <input type="number" placeholder="" value="">
            </div>
            <span class="statuscircle offline"><i class="fa fa-exclamation"></i> </span>
          </div>
            </div>
      <div class="small-12 medium-4 grid-block">
        <div class="formDetails">
          <p class="bold">Max Acceptable Contact Resistance </p>
          <input type="number" placeholder="" value="">
        </div>
      </div>


    </div>

    </div>
    <div ng-show="isSet(3)">
        <div class="grid-block blockCenter">
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Operating Time - Tripping (To) </p>
              <input type="number" placeholder="" value="">
            </div>
                <span class="statuscircle offline" zf-open="dangeralert"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Operating Time - Closing (Tc) </p>
                <input type="number" placeholder="" value="">
            </div>
                <span class="statuscircle offline" zf-open="dangeralert"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Operating Time - Tip Free </p>
                <input type="number" placeholder="" value="">
            </div>
                <span class="statuscircle offline" zf-open="dangeralert"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="flex">
            <div class="formDetails">
              <p class="bold">Operating Time - Reclose (Tc) </p>
                <input type="number" placeholder="" value="">
            </div>
                <span class="statuscircle offline" zf-open="dangeralert"><i class="fa fa-exclamation"></i> </span>
            </div>
          </div>
          </div>
    </div>
    <div ng-show="isSet(4)">
      <div class="blockCenter">
        <div class="feildSection">
          <p class="bold">Overall Mechanical & Electrical Test </p>
          <div class="grid-block">
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p>On the Mechanism:</p>
                <p class="away">Recommended</p>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p>On the Pole:</p>
                <p class="away">Recommended</p>
              </div>
            </div>
          </div>
          <p class="bold">Major Overhaul </p>
          <div class="grid-block">
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p>On the Mechanism:</p>
                <p class="away">Recommended</p>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p>On the Pole:</p>
                <p class="away">Recommended</p>
              </div>
            </div>
          </div>
        </div>
        <div class="feildSection">
          <p class="bold">Troubleshooting <span>(Abnormal Conditions VS Apparatus Ageing)</span></p>
          <div class="grid-block">
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p>Seal Ageing </p>
                <p class="offline">Warning</p>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p>Re - Gasketing </p>
                <p class="away">Recommended</p>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p>Leak Detection </p>
                <p class="away">Recommended</p>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p> Gas Re- Filling & Desiccant Replacement</p>
                <p class="away">Recommended</p>
              </div>
            </div>
          </div>
        </div>
        <div class="feildSection">
          <div class="grid-block">
            <div class="small-12 medium-12 grid-block">
              <div class="formDetails fullwidth">
                <p class="bold">Comments/ History of Breaker Issues </p>
                <textarea></textarea>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold">Customer Name </p>
                <p>Vladimir.B</p>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold">Customer Contact</p>
                <p>Lorem Ipsum</p>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold">Email Address</p>
                <div class="flex">
                  <input type="number" placeholder="On the mechanism" value="">
                  <ul class="listActions">
                    <li><i class="fa fa-plus" zf-open="addEmail"></i></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold"> Phone Number</p>
                <input type="number" placeholder="On the pole" value="">
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold">Send budgetary offer for spares parts only</p>
                <div class="flex">
                  <input type="number" placeholder="" value="">
                  <ul class="flex switchButtons">
                    <li><input type="radio" name="spares" value="1" id="yes" checked><label for="yes">Yes</label></li>
                    <li><input type="radio" name="spares" value="3" id="no"><label for="no">No</label></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold">Reported By</p>
                <input type="number" placeholder="On the pole" value="">
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
              <div class="formDetails">
                <p class="bold">Validated By</p>
                <input type="number" placeholder="On the pole" value="">
              </div>
            </div>
            <div class="small-12 medium-6 grid-block">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>

</div>

  <!-- Modal -->
<div zf-modal="" id="warning">
  <div class="mHead flex">
    <span class="statuscircle pending"><i class="fa fa-exclamation"></i> </span>
    <h5>Delta Psu (Psu0-Psu1) </h5>
    <a zf-close="" class="close-button"><img src="assets/img/close.png"></a>
  </div>
  <div class="mBody">
    <div class="formDetails">
    <p>Major overhauling</p>
    </div>
  </div>
</div>


