---
name: newReportfxview
url: /newReportfxview
controller: reportCtrl
---

<div class="dtContainer">
  <div class="detailsHeader">
    <a href="" ui-sref="home">
        <span>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
    </a>
    <ul class="rDetails">
      <li class="no-xs">Country: <span class="bold">United States</span> </li>
      <li class="no-xs">Supervisor/ Sales: <span class="bold">Kinda Mouhandess</span> </li>
      <li>Unit: <span class="bold">XYZ12345</span> </li>
      <li>Date: <span class="bold">12/11/2016</span> </li>
    </ul>
    <div class="actionsParent">
      <ul class="actions">
        <li><a class="success button">Delete</a></li>
      </ul>
    </div>
  </div>
  <div class="reportTabs">
  <ul class="tabs ReportAssessTabs">
    <li>
      <a href="" ng-click="setTab(1)" ng-class="{ active: isSet(1) }">
          <p>Operation &amp; SF6</p>
        <div class="statusDetails">
          <div class="progress">
            <div class="progress-fill"></div>
          </div>
          <p>70%</p>
        </div>
      </a>
    </li>
    <li>
      <a href=""  ng-click="setTab(2)" ng-class="{ active: isSet(2) }">
          <p>Contact Resistance</p>
        <div class="statusDetails">
        <div class="progress">
          <div class="progress-fill"></div>
        </div>
        <p>70%</p>
      </div>
      </a>
    </li>
    <li>
      <a href=""  ng-click="setTab(3)" ng-class="{ active: isSet(3) }">
          <p>Operating Time</p>
        <div class="statusDetails">
          <div class="progress">
            <div class="progress-fill"></div>
          </div>
          <p>70%</p>
        </div>
      </a>
    </li>
    <li>
      <a href=""  ng-click="setTab(4)" ng-class="{ active: isSet(4) }">
          <p>Maintenance Recommendation</p>
        <div class="statusDetails">
          <div class="progress">
            <div class="progress-fill"></div>
          </div>
          <p>70%</p>
        </div>
      </a>
    </li>
  </ul>
    <div class="reportsHeader">
      <h6>CBR Inspection : Operation & SF6</h6>
      <div class="flex">
        <div class="radio" ng-repeat="phase in phases">
          <input type="radio" name="phase" value="{{phase}}" id="{{phase.id}}"><label for="{{phase.id}}">{{phase.name}}</label>
        </div>
      </div>
      <ul class="listActions">
        <li><i class="fa fa-picture-o"></i></li>
        <li><img src="../assets/img/add-comment.png"></li>
      </ul>
    </div>
  <div class="tab-contents">
    <div class="viewMode">
      <div class="grid-container">
        <div class="attachments">
          <ul>
            <li><img src ="../assets/img/transformer.jpg"></li>
            <li><img src ="../assets/img/transformer.jpg"></li>
          </ul>
        </div>
        <div class="comments">
          <p class="bold">Comments (06)</p>
          <a href="" ng-click="showComments()" ng-if="commentsView == false ">View Comments</a>
          <a href="" ng-if="commentsView == true " ng-click="hideComments()">Hide Comments</a>
        </div>
        <ul class="commentLists" ng-show="commentsView">
          <li>
            <p class="bold">Mr. Srikanth A.  |  29/ 11/2016  |  11:20 AM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi tellus, feugiat nec molestie pellentesque, gravida ut arcu. Nullam vitae venenatis tortor, in cursus ligula. Etiam convallis efficitur facilisis. Mauris pretium eu metus id iaculis. Nullam blandit est et dictum pharetra. Pellentesque eget ex rhoncus, imperdiet sapien a, tempus </p>
          </li>
          <li>
            <p class="bold">Mr. Vladimir B.  |  28/ 11/2016  |  10:00 PM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mi tellus, feugiat nec molestie pellentesque, gravida ut arcu.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-container">
    <div ng-show="isSet(1)">
      <form>
        <!-- Fields for NC Details -->
          <div class="feildSection">
        <div class="grid-block blockCenter">
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Number Of Breaker Operations (Nb) </p>
              <div class="flex">
                <p>Lorem Ipsum</p>
                <span class="statuscircle pending" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Number of Pump Operation </p>
              <div class="flex">
                <p>Lorem Ipsum</p>
                <span class="statuscircle pending" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Pump Start Up Number At T=0hr(Psu0</p>
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails ">
              <p class="bold">Pump Start Up Number At T = </p>
              <div class="flex">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Delta Psu (Psu0-Psu1) </p>
              <div class="flex">
                <p>Lorem Ipsum</p>
                <span class="statuscircle pending" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Sf6 Pressure As Measured </p>
              <div class="flex">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">External Temperature  </p>
              <div class="flex">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Nominal SF6 Pressure  </p>
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Acidity Test </p>
                <div class="flex">
                  <p>Lorem Ipsum</p>
                <span class="statuscircle offline" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Moisture SF6 Gas Measure   </p>
              <div class="flex">
                <p>Lorem Ipsum</p>
                <span class="statuscircle pending" zf-open="warning"><i class="fa fa-exclamation"></i> </span>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Nbr of SF6 Re-Fill (Done Over The Last 1 Year)  </p>
              <div class="flex">
                <p>Lorem Ipsum</p>
                <span class="statuscircle offline" zf-open=""><i class="fa fa-exclamation"></i> </span>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block"></div>
        </div>
            </div>
      </form>
    </div>
    <div ng-show="isSet(2)">
      <p class="bold">Measure Contact Resistance</p>
        <div class="grid-block blockCenter contactContent">
          <div class="small-12 medium-2 grid-block">
              <p class="bold">Chamber 1 </p>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
              <p class="bold">Phase 1 </p>
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
              <p class="bold">Phase 2 </p>
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
              <p class="bold">Phase 3 </p>
              <div class="flex">
              <p>Lorem Ipsum</p>
              <span class="statuscircle offline"><i class="fa fa-exclamation"></i> </span>
            </div>
            </div>
          </div>
          <div class="small-12 medium-2 grid-block">
              <p class="bold">Chamber 2 </p>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-1 grid-block">
            <div class="formDetails flex">
            </div>
          </div>
          <div class="small-12 medium-2 grid-block">
              <p class="bold">Chamber 3 </p>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
            <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
            <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
            <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-1 grid-block">
            <div class="formDetails flex">
            </div>
          </div>
          <div class="small-12 medium-2 grid-block">
              <p class="bold">Chamber 4 </p>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
             <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-3 grid-block">
            <div class="formDetails">
             <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-1 grid-block">
            <div class="formDetails flex">
            </div>
          </div>
    </div>
    </div>
    <div ng-show="isSet(3)">
        <div class="feildSection">
        <div class="grid-block blockCenter">
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Operating Time - Tripping (To) </p>
              <div class="flex">
             <p>Lorem Ipsum</p>
                <span class="statuscircle offline" zf-open="dangeralert"><i class="fa fa-exclamation"></i> </span>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Operating Time - Closing (Tc) </p>
              <div class="flex">
                <p>Lorem Ipsum</p>
                <span class="statuscircle offline" zf-open="dangeralert"><i class="fa fa-exclamation"></i> </span>
              </div>
            </div>
          </div>
          </div>
          </div>
    </div>
    <div ng-show="isSet(4)">
      <div class="blockCenter">
        <div class="feildSection">
          <p class="bold">Overall Mechanical & Electrical Test </p>
          <div class="grid-block">
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p>On the Mechanism:</p>
              <p class="away">Recommended</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p>On the Pole:</p>
              <p class="away">Recommended</p>
            </div>
          </div>
          </div>
          <p class="bold">Major Overhaul </p>
          <div class="grid-block">
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p>On the Mechanism:</p>
              <p class="away">Recommended</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p>On the Pole:</p>
              <p class="away">Recommended</p>
            </div>
          </div>
        </div>
        </div>
        <div class="feildSection">
          <p class="bold">Troubleshooting <span>(Abnormal Conditions VS Apparatus Ageing)</span></p>
          <div class="grid-block">
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p>Seal Ageing </p>
              <p class="offline">Warning</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p>Re - Gasketing </p>
              <p class="away">Recommended</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p>Leak Detection </p>
              <p class="away">Recommended</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p> Gas Re- Filling & Desiccant Replacement</p>
              <p class="away">Recommended</p>
            </div>
          </div>
          </div>
          </div>
        <div class="feildSection">
          <div class="grid-block">
          <div class="small-12 medium-12 grid-block">
            <div class="formDetails fullwidth">
              <p class="bold">Comments/ History of Breaker Issues </p>
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Customer Name </p>
             <p>Vladimir.B</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Customer Contact</p>
             <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Email Address</p>
              <div class="flex">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold"> Phone Number</p>
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Send budgetary offer for spares parts only</p>
              <div class="flex">
                <p>Lorem Ipsum</p>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Reported By</p>
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Validated By</p>
              <p>Lorem Ipsum</p>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
  </div>

<div zf-modal="" id="warning">
  <div class="mHead flex">
    <span class="statuscircle pending"><i class="fa fa-exclamation"></i> </span>
    <h5>Delta Psu (Psu0-Psu1) </h5>
    <a zf-close="" class="close-button"><img src="assets/img/close.png"></a>
  </div>
  <div class="mBody">
    <div class="formDetails">
    <p>Major overhauling</p>
    </div>
  </div>
</div>

<div zf-modal="" id="addEmail">
  <div class="mHead flex">
    <h5>Add Email Address </h5>
    <a zf-close="" class="close-button"><img src="assets/img/close.png"></a>
  </div>
  <div class="mBody">
    <div class="formDetails">
    <p class="bold">Enter Multiple Email Address</p>
      <div class="flex">
        <input type="email" placeholder="" value=""><i class="fa fa-close"></i>
      </div>
      <div class="flex">
        <input type="email" placeholder="" value=""><i class="fa fa-close"></i>
      </div>
      <div class="flex">
        <input type="email" placeholder="" value=""><i class="fa fa-close"></i>
      </div>
      <div class="flex">
        <input type="email" placeholder="" value=""><i class="fa fa-close"></i>
      </div>
      <div class="flex">
        <input type="email" placeholder="" value=""><i class="fa fa-close"></i>
      </div>
    </div>
  </div>
  <div class="mFoot">
    <a class="success button" href="javascript:void(0);" zf-close="">Add</a>
  </div>
</div>

