---
name: downloadcb
url: /downloadcb
---

<div class="dtContainer">
  <div class="detailsHeader">
    <a href="" ui-sref="home">
        <span>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
    </a>
    <h5 class="primaryColor">Download Circuit Breaker </h5>
    <div class="actionsParent">
      <ul class="actions">
        <li><a class="success button" ui-sref="downloadcbsearch">Search</a></li>
      </ul>
    </div>
  </div>
  <div class="dtMoreInfo">
    <div class="cbhead">
      <h6>Enter Search Criteria</h6>
    </div>
    <form>
      <!-- Fields for NC Details -->
      <div class="grid-container feildSection downloadCbr">
        <div class="grid-block">
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails require">
              <p class="bold">Customer Name</p>
              <input type="text" placeholder="" value="">
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Sub Station</p>
              <input type="text" placeholder="" value="">
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">CBR Type</p>
              <ul class="switchButtons">
                <li><input type="radio" name="cbr" value="1" id="dt" checked><label for="dt">DT Circuit
                  Breaker</label></li>
                <li><input type="radio" name="cbr" value="3" id="lt"><label for="lt">LT-FX Circuit Breaker</label></li>
              </ul>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails require">
              <p class="bold">Group Type </p>
              <select>
                <option></option>
                <option>Group Type 1</option>
                <option>Group Type 2</option>
                <option>Group Type 3</option>
              </select>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails require">
              <p class="bold">Model Type </p>
              <select>
                <option></option>
                <option>Model Type 1</option>
                <option>Model Type 2</option>
                <option>Model Type 3</option>
              </select>
            </div>
          </div>
          <div class="small-12 medium-6 grid-block">
            <div class="formDetails">
              <p class="bold">Serial Number</p>
              <input type="text" placeholder="" value="">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


