---
name: home
url: /
controller: HomeCtrl
---
<div class="statusContainer">
  <div class="grid-container">
        <ul class="reportList">
          <li>
            <div class="statuses">
                <p class="number">34</p>
                <p>Total Reports</p>
              </div>
          </li>
          <li>
            <div class="statuses">
            <div class="requestChart" items="chart1" colors="color1" content="content1" subcontent="subcontent1"></div>
              <p>Drafted</p>
              </div>
          </li>
          <li>
            <div class="statuses">
              <div class="requestChart" items="chart2" colors="color2" content="content2" subcontent="subcontent2"></div>
              <p>Pending</p>
            </div>
          </li>
          <li>
            <div class="statuses">
              <div class="requestChart" items="chart3" colors="color3" content="content3" subcontent="subcontent3"></div>
              <p>Submitted</p>
            </div>
          </li>
        </ul>
  </div>
  <div class="reloadButton">
    <div class="icon-holder"><span class="icon refresh"></span></div>
  </div>
</div>
<div class="circuitContainer" set-class-when-at-top="fix-to-top">
  <div class="sectionHeader">
    <h5>Circuit Breakers</h5>
    <ul class="listActions">
      <li><i class="fa fa-plus" zf-open="AddNewCb"></i></li>
      <li zf-open="deleteAlert"><i class="fa fa-trash"></i></li>
      <li><a ui-sref="downloadcb"> <i class="fa fa-download" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <ul class="reportCardList">
    <li ng-repeat="circuits in circuitDetails track by $index" ng-click="generateReports(circuits,$index)" ng-class="{active: $index == selected}">

      <div class="CircuitCards">
        <div class="reportCount"><span>{{circuits.totalReports}}</span> Reports</div>
        <ul class="circuitDetails">
          <li>
            <span class="reportTitle">Breaker Model</span>
            {{circuits.breakerModel}}
          </li>
          <li>
            <span class="reportTitle">Control Mechanism</span>
            {{circuits.CtrlMechanism}}
          </li>
          <li>
            <span class="reportTitle">Substation</span>
            {{circuits.subStation}}
          </li>
          <li>
            <span class="reportTitle">Serial Number</span>
            {{circuits.SrlNum}}
          </li>
          <li>
            <span class="reportTitle">Customer Name</span>
            {{circuits.customerNAme}}
          </li>
        </ul>
        <ul class="actions">
          <li><a href="" ui-sref="circuit"><span class="actionOptions"><i class="fa fa-eye"></i> </span></a> </li>
          <li><a href="" ui-sref="circuitdtcreate"><span class="actionOptions"><i class="fa fa-pencil"></i> </span></a></li>
        </ul>
        <span class="errorIcon" zf-open="errorPopup">
              i
            </span>
      </div>
    </li>
  </ul>
  <div class="ribbonCount">
    <p><span class="bold">1</span> / 12</p>
  </div>
</div>
<div class="reportDetails">
  <div class="sectionHeader">
    <h5>Condition Assessment Reports (03)</h5>
    <ul class="listActions">
      <li><i class="fa fa-plus" zf-open="createReport"></i></li>
    </ul>
  </div>
  <ul class="reportsAssessmentList">
    <li ng-repeat="report in selectedReport track by $index">
      <div class="reportCard {{report.reportDraft}}">
        <div class="reportContent">
          <div class="reportHeader">
            <p class="bold no-xs">Report {{report.reportNum}}</p>
            <div class="statusDetails">
              <p>Status</p>
              <div class="progress">
                <div class="progress-fill"></div>
              </div>
              <p>{{report.reportStatus}}</p>
            </div>
            <span class="errorIcon" zf-open="errorPopup">
             i
            </span>
            <span class="badge">{{report.reportBadge}}</span>
            <div class="editActions" ng-click="toggleActions(report)">
              <i class="fa fa-ellipsis-v"></i>
              <ul class="rActions" ng-show="report.showMoreOptions">
                <li><a ui-sref="newReport"> <i class="fa fa-pencil"></i> Edit</a></li>
                <li zf-open="deleteAlert"><a> <i class="fa fa-trash"></i> Delete</a></li>
              </ul>
            </div>
          </div>
          <ul class="rDetails">
            <li>Country: <span class="bold">{{report.reportCountry}}</span></li>
            <li>Supervisor/ Sales: <span class="bold">{{report.reportSales}}</span></li>
            <li>Unit: <span class="bold">{{report.reportUnit}}</span></li>
            <li>Date: <span class="bold">{{report.reportDate}}</span></li>
          </ul>
        </div>
        <div class="reportActions no-xs">
          <ul class="actions">
            <li ng-hide="report.reportDraft == 'submitted'" ui-sref="newReport"><span class="actionOptions"><i class="fa fa-pencil"></i> </span></li>
            <li ng-if="report.reportDraft == 'submitted'" ui-sref="newReportview"><span class="actionOptions"><i class="fa fa-eye"></i> </span></li>
            <li zf-open="deleteAlert"><span class="actionOptions"><i class="fa fa-trash"></i> </span></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- Delete Modal -->
<div zf-modal="" id="deleteAlert">
  <div class="mBody">
    <div class="alertsDetails">
      <span class="statuscircle offline"><i class="fa fa-close"></i> </span>
      <p> Are you sure you want to delete <span class="bold"></span>?</p>
    </div>
  </div>
  <div class="mFoot align-center">
    <a class="secondary button" href="javascript:void(0);" zf-close="">Cancel</a>
    <a class="success button" href="javascript:void(0);" zf-close="">Yes</a>
  </div>
</div>

<!-- Delete Modal -->
<div zf-modal="" id="errorPopup">
  <div class="mBody">
    <div class="alertsDetails">
      <span class="statuscircle offline"><i class="fa fa-close"></i> </span>
      <p>Lorem ipsum dolor sit </p>
    </div>
  </div>
  <div class="mFoot align-center">
    <a class="success button" href="javascript:void(0);" zf-close="">Ok</a>
  </div>
</div>

<!-- Create Circuit Breaker Modal -->
<div zf-modal="" id="createReport">
  <div class="mHead">
    <h6>Create New Report</h6>
    <a zf-close="" class="close-button"><img src="assets/img/close.png"></a>
  </div>
  <div class="mBody">
    <div class="grid-block">
      <div class="grid-block small-6">
        <div class="formDetails">
          <p class="bold">Supervisiors/Sales</p>
          <p>Kinda Mouhandess</p>
        </div>
      </div>
      <div class="grid-block small-6">
        <div class="formDetails">
          <p class="bold">Units</p>
          <p>XYZ123456</p>
        </div>
      </div>
    </div>
      <div class="grid-block">
        <div class="grid-block small-6">
          <div class="formDetails">
            <p class="bold">Job Number</p>
            <input type="text" placeholder="" value="">
          </div>
        </div>
        <div class="grid-block small-6">
          <div class="formDetails calender">
            <p class="bold">Validated Date</p>
            <input type="text" placeholder="" value="">
          </div>
        </div>
      </div>

  </div>
  <div class="mFoot align-center">
    <a class="success button" href="javascript:void(0);" zf-close="" ui-sref="newReportfx">Create</a>
  </div>
</div>
<!-- Add New Circuit Breaker Modal -->
<div zf-modal="" id="AddNewCb">
  <div class="mHead">
    <h6>Create New Circuit Breaker</h6>
    <a zf-close="" class="close-button"><img src="assets/img/close.png"></a>
  </div>
  <div class="mBody cbrBody">
    <div class="require">
    <p class="bold">Select Circuit Breaker Type</p>
    </div>
    <div class="grid-block">
      <div class="grid-block small-6">
        <div class="breakerCard ml0" ng-click="showInputs('circuitdtcreate');" ng-class="{'active': circuitBreaker === 'dt'}"><img src="assets/img/breakerdt.png"><p>Dead Tank Circuit Breaker</p></div>
        </div>
      <div class="grid-block small-6">
        <div class="breakerCard mr0" ng-click="showInputs('circuitfxcreate');" ng-class="{'active': circuitBreaker === 'fx'}"><img src="assets/img/breakerfx.png"><p>LT - FX Circuit Breaker</p></div>
      </div>
    </div>
      <div class="grid-block" ng-if="circuitBreaker === 'dt'">
        <div class="grid-block small-6">
          <div class="formDetails require ml0">
            <p class="bold">Group Type</p>
            <select name="country" id="group">
              <option value="hgf">All</option>
              <option value="hgf">HGF</option>
              <option value="hgf">DT1</option>
              <option value="hgf">DT2</option>
            </select>
          </div>
        </div>
        <div class="grid-block small-6">
          <div class="formDetails require mr0">
            <p class="bold">Group Sub Type</p>
            <select name="country" id="group1">
              <option value="1">HGF1012 40kA</option>
              <option value="2">HGF1012 40kA MG (SF6/CF4)</option>
              <option value="3">HGF1012 50-63kA</option>
              <option value="4">HGF1014 40kA</option>
              <option value="5">HGF1014 63kA</option>
              <option value="6">HGF1014 40-63kA</option>
            </select>
          </div>
        </div>
      </div>
      <div class="grid-block" ng-if="circuitBreaker === 'fx'">
        <div class="grid-block small-6">
          <div class="formDetails require ml0">
            <p class="bold">Group Type</p>
            <select name="country" id="group2">
              <option value="fx1">fx12(3xOp4.5)</option>
              <option value="fx2">fx12(1xOP4.5)</option>
              <option value="fx1d">fx12D(1xOP4.5)</option>
              <option value="fx22">fx22(3xOp4.5)</option>
              <option value="fx12">fx12(1xOp4.5)</option>
            </select>
          </div>
        </div>
      </div>
</div>
  <div class="mFoot align-center">
    <a class="button" href="" zf-close="" ng-click="circuitredirect()" ng-disabled="!circuitBreaker" ng-class="{'disabled': !circuitBreaker, 'success': circuitBreaker}">Next</a>
  </div>
</div>




