---
name: downloadcbsearch
url: /downloadcbsearch
controller: downloadCtrl
---

<div class="dtContainer">
  <div class="detailsHeader">
    <a href="" ui-sref="downloadcb">
        <span>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
    </a>
    <h5 class="primaryColor">Showing Search Results (20)</h5>
    <div class="actionsParent">
      <ul class="actions">
        <li ng-click="downloadStatusCall()"><a class="success button">Download</a></li>
      </ul>
    </div>
  </div>
  <div class="downloadContent">
    <table class="tableList">
      <thead>
      <tr>
        <th>
          <div class="checkbox">
            <input type="checkbox" id="srno" ng-model="allItemsSelected" ng-change="selectAll()"><label for="srno"></label>
          </div>
          </th>
        <th>Sr.No</th>
        <th>Customer Name</th>
        <th>Substation</th>
        <th>CBR Type</th>
        <th>Group Type</th>
        <th>Breaker Model Type</th>
        <th>Serial Number</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="data in downloadData" ng-class="{selected: data.isChecked}">
        <td>
          <div class="checkbox">
            <input type="checkbox" id="{{data.id}}" ng-model="data.isChecked" ng-change="selectEntity()"><label for="{{data.id}}"></label>
          </div>
        </td>
        <td>
         {{data.srno}}
        </td>
        <td>{{data.customerName}}</td>
        <td>{{data.subStation}} </td>
        <td>{{data.cbrtype}}</td>
        <td>{{data.groupType}}</td>
        <td>{{data.breakerModelType}}</td>
        <td>{{data.SrlNum}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="downloadStatus" ng-show="downloadStatus">
  <div class="statusContent">
    <div class="grid-container">
    <p>Downloading...</p>
    <div class="progress">
      <div class="progress-fill"></div>
    </div>
    </div>
  </div>
</div>



