---
name: splashscreen
url: /splashscreen
---

<div class="splashScreen">
  <div class="grid-container">
  <div class="ScreenContent">
    <img src="../assets/img/logo.svg">
    <h5>GridFit CBR</h5>
  </div>
  </div>
</div>


